.boton{
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 13px;
  font-family: Arial;
  color: #1f0b1f;
  font-size: 250%;
  background: #5d96ab;
  padding: 21px 20px 16px 20px;
  text-decoration: none;
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  position: relative;
  top: 500px;
}
.boton:hover{
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #144b70);
  background-image: -moz-linear-gradient(top, #3cb0fd, #144b70);
  background-image: -ms-linear-gradient(top, #3cb0fd, #144b70);
  background-image: -o-linear-gradient(top, #3cb0fd, #144b70);
  background-image: linear-gradient(top, bottom, #3cb0fd, #144b70);
  text-decoration: none;
}
/*.boton{
 -webkit-border-radius: 13;
-moz-border-radius: 13;
border-radius: 13px;
font-family: Arial;
color: #1f0b1f;
height: 100px;
font-size: 150%;
background: #5d96ab;
padding: 21px 20px 16px 20px;
text-decoration: none;
display:block;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
position: relative;
top: 450px;
white-space:nowrap;
}
*/
/*input {
top: 400px;
}*/

/*#img{
  width: 20%;
  height: 10%;
  left: 50%;
  top: 10%;
  position: absolute;
}*/

img.logo{
 position:fixed;
  width: 30%;
  height: 30%;
  left: 35%;
}

::-webkit-input-placeholder { /* google chrome y edge */
    color:    #CDCDCD;
    padding-left: 5px;
  }

@media only screen and (max-width: 480px) {
  body {
    background-image: url(fondo.svg);
  }
}

@media only screen and (max-width: 1280px) {
  body {
    background-image: url(fondo.svg);
  }
}

body {
 background-position: center center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 background-image: url(fondo.svg);
}
