body {
  margin: 0;
  padding: 0;
  background-color: #ddd;
}

header {
  margin: 0;
  padding-top: 100px;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(fondo.svg);
  background-size: cover;
  height: 900px;
}

.titulo {
  font-family: 'Lobster', cursive;
  color: #eee;
  font-size: 170px;
  margin-bottom: 200px;
}

.boton {
  border-radius: 40px;
  font-size: 40px;
  border: none;
  padding: 10px 30px;
  margin-bottom: 80px;
}

form input:nth-of-type(1) {
  margin-right: 5%;
  background-color: #eee;
  transition: background-color 0.2s, color 0.2s;
}

form input:nth-of-type(1):hover,
form input:nth-of-type(1):active {
  background-color: #2486e6;
  color: #eee;
}

form input:nth-of-type(2) {
  transition: background-color 0.2s, color 0.2s;
}

form input:nth-of-type(2):hover,
form input:nth-of-type(2):active {
  background-color: #2486e6;
  color: #eee;
}

form {
  margin: 0 auto;
}

.container {
  margin-top: 30px;
}

ul {
  list-style: none;
}

.izq {
  margin-right: 20%;
}

.der {
  margin-left: 20%;
}

li {
  font-size: 40px;
  padding: 30px;
}

footer {
  margin-top: 30px;
  background-color: #555;
}

.img-google-play {
  padding: 30px;
  margin: 0 auto !important;
  width: 500px;
  height: auto;
}