
	 h1{
		 position: absolute;
		 font-family: 'Quicksand', sans-serif;
		 text-align:center;
		 color: white;
		 background-color: #32D6FF;
		 font-size: 50px;
		 width: 50%;
		 text-align: center;
		 margin: auto;
		 margin-bottom: 15px;
		 margin-top: 0;
		 border-radius: 5px;
		 padding: 5px;
		 font-weight: normal;
	}

	table{
		padding:5px;
		width: 40%;
		margin-right: 6%;
    border-radius: 0px 0px 20px 20px;
    /*margin: 20px auto;*/
		margin-bottom: 20px;
	}


	.no_validado{ /*para los errores*/
		font-size:14px;
		color:#FF9090;
		font-family: 'Quicksand', sans-serif;
		font-weight:bold;
		/*margin-top: 1px;*/
		/*padding-left: 10px;*/
	}

	.validado{
		font-size:15px;
		color:green;
		font-family: 'Quicksand', sans-serif;
		font-weight:bold;
	}

	h2,table,h1{
    background-color: rgba(55, 156, 173  , 0.5);
	}

  h2{
		font-family: 'Roboto', sans-serif;
    text-align: center;
		color: white;
		width: 40%;
		padding-bottom: 10px;
		padding-top: 10px;
		border-bottom: white 5px solid;
		border-radius: 20px 20px 0px 0px;
		margin: auto;
		margin-left: 54%;
		font-weight:100;
		font-size: 30px;
  }

	#identificadorentrada {
		font-family: 'Quicksand', sans-serif;
		 text-align:left;
		 padding-left: 10px;
		 margin-bottom: 20px;
		 color:white;
		 font-size: 1em;
		 width: 35%;
	}


	input, textarea, select, button {
		font-family: 'Roboto', sans-serif;
	  width : 90%;
		color: #626262;
		background-color: #FFF;
		border: none;
		margin-bottom: 10px;
		margin-top: 10px;
		margin-left: 10px;
		font-size: 15px;
		border-radius: 4px;

		padding-left: 7px;
    padding-right: 7px;
    padding-top: 10px;
    padding-bottom: 10px;

		-webkit-box-sizing: border-box; /* Para google chrome */
		-moz-box-sizing: border-box; /* para mozilla firefox */
		-ms-box-sizing: border-box; /* internet explorer, edge */
		-o-box-sizing: border-box; /* opera */
		box-sizing: border-box; /* otros */

	display:block;
	margin-left: auto;
  margin-right: auto;
   position: relative;
    /*top: 400px;*/
	}

 input{
  height: 40px;
  }

 input:focus {
 	background: linear-gradient(left, #FFFFFF, #EFEFEF);
 	background: -moz-linear-gradient(left, #FFFFFF, #EFEFEF);
 	background: -webkit-linear-gradient(left, #FFFFFF, #EFEFEF);
 	background: -o-linear-gradient(left, #FFFFFF, #EFEFEF);
  }


 input[type=submit]{
	 width: 150px;
	 height: 30px;
	 padding : 2px 2px 2px 2px;
  }

	input[type=submit]:hover{
	background-color: #D2F9FF;
	}

	input[type=submit]:focus{
		background: none;
	background-color: #9FF1FE;
  color: black;
  }

ul{
	list-style: none;
}

  li{
		margin-top: 3%;
		font-size: 1.2em;
		color: white;
		font-weight: normal;
		font-family: 'Quicksand', sans-serif;
	}

#icono{
   /*esto aplica solo para las etiquetas img que
     esten dentro de figure*/
  -webkit-transition:-webkit-transform 0.1782s ease-in-out 0.001s;
  -moz-transition:-webkit-transform 0.1782s ease-in-out 0.001s;
  -ms-transition:-webkit-transform 0.1782s ease-in-out 0.001s;
 }

 #icono:hover{
    -webkit-transform:scale(1.7);
    -moz-transform:scale(1.7);
    -ms-transform:scale(1.7)
 }

 #descripcion_icon{
font-weight: normal;

margin-left: 12px;
/*margin-bottom: 3px;*/
text-align: center;
 }


::-webkit-input-placeholder { /* google chrome y edge */
    color:    #CDCDCD;
		padding-left: 5px;
  }

	img.logo{
	 position:fixed;
	  width: 30%;
	  height: 30%;
	  left: 38%;
	}

	@media only screen and (max-width: 480px) {
	  body {
	    background-image: url(fondo.svg);
	  }
	}

	@media only screen and (max-width: 1280px) {
	  body {
	    background-image: url(fondo.svg);
	  }
	}
h3{
	font-family: 'Megrim', cursive;
	font-size: 150px;
	margin-top: 5%;
	margin-left: 2%;
	color: white;
	margin-bottom: 0px;
}
body{
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-image: url(fondo.svg);
}
